.model-selector {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid #333333;
  border-radius: 3px;
  border-style: groove;
  background-color: #000000; /* Change color as needed */
  color: white; /* Change text color */
  cursor: pointer;
}

.shaded-button,
.wire-button {
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: #ccc;
  transition: background-color 0.3s;
}
.wire-button {
  top: 100px;
}

.shaded-button.selected,
.wire-button.selected {
  background-color: #666;
  color: #fff;
}

.shaded-button:hover,
.wire-button:hover {
  background-color: #999;
}

.rotation-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid #333333;
  border-radius: 3px;
  border-style: ridge;
  background-color: #000000; /* Change color as needed */
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* styles for screens smaller than 768px */
  .model-selector,
  .rotation-button {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.spinner {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  z-index: 1000; /* Ensure it's above other elements */
}

.error {
  display: none; /* Initially hidden */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(200, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  z-index: 1001; /* Ensure it's above other elements, including the spinner */
}
